$light: #FEFEE3;
$dark: #2C6E49;
$primary: #D68C45;
$secondary: #4C956C;

@import "~bootstrap/scss/bootstrap";

body {
    background-color: #FEFEE3;
}

h1 {
    color: #2C6E49;
}

.ws-large-img {
    height: 400px;
    object-fit: cover;
    object-position: top;
}

.ws-row-img {
    width: 400px;
    object-fit: cover;
    object-position: top;
}
