$light: #FEFEE3;
$dark: #2C6E49;
$primary: #D68C45;
$secondary: #2C6E49;

@import "~bootstrap/scss/bootstrap";

body {
  background-color: #FEFEE3;
}

h1 {
  color: #2C6E49;
}

.ws-large-img {
  height: 400px;
  object-fit: cover;
  object-position: top;
}

.ws-row-img {
  width: 400px;
  object-fit: cover;
  object-position: top;
}

.ws-sidebar {
  position: fixed;
  top: 253px;
  right: 20px;
  width: 350px;
  height: 50vh;
  background-color: white;
  padding: 20px;
  overflow-y: auto;
}
