<div{{ attributes }}>
    <aside class="ws-sidebar card">
        <h3 class="pb-3 text-secondary">Last episodes added</h3>
        <ul>
            {% for episode in this.lastEpisodes %}
                <li class="pb-3"><a href="{{ path('app_episode_show', {'id': episode.id}) }}" class="text-secondary">Episode n° {{ episode.number }}:</a> {{ episode.title }}</li>
            {% endfor %}
        </ul>
    </aside>
</div>
