<div{{ attributes }}>
    <li class="nav-item dropdown px-3">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
        </a>
        <ul class="dropdown-menu">
            {% for category in this.categories %}
                <li>
                    <a class="dropdown-item" href="{{ path("category_show", { categoryName: category.name }) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
</div>
